{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "useBuiltIns": false,
      "loose": true,
      "forceAllTransforms": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", {"legacy": true}],
        ["@babel/plugin-proposal-class-properties", {"loose": true}]
      ]
    }
  }
}
